:root{
  font-family: "Helvetica", "Verdana", "Arial", sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
}

body {
  margin:0; 
}

.splash {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#train-background {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -2;
}

.background-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, black, black 40%, transparent);
  z-index: -1;
}

.splash-title {
  grid-column: 2 / 6;
  align-self: center;
  background-color: black;
  border: 1px solid rgb(41, 41, 41);
  padding: 2rem 0rem 2rem 0rem;
}

.splash-line {
  background-color: white;
  height: 3px;
}

.splash-title > .title-text {
  margin: 0;
  margin-right: 0.5rem;
  padding: 1rem;
}

.title-text > h1 {
  font-size: calc(2rem + 3vw);
  margin: 0;
}

.title-text > h2 {
  font-size: calc(1 + 1vw);
  font-weight: 100;
  margin: 2rem 0.5rem 0 0.5rem;
}
